In [5]:
import pandas as pd

In [6]:
df_0  = pd.read_csv(r"c:\Users\rahul\OneDrive\Desktop\Forage\Quantium_\data\daily_sales_data_0.csv")
df_1  = pd.read_csv(r"c:\Users\rahul\OneDrive\Desktop\Forage\Quantium_\data\daily_sales_data_1.csv")
df_2  = pd.read_csv(r"c:\Users\rahul\OneDrive\Desktop\Forage\Quantium_\data\daily_sales_data_2.csv")

In [7]:
df_0.shape

(13720, 5)

Here, we have attached all the csv files as one.

In [8]:
df = pd.concat([df_0,df_1,df_2])

In [9]:
df.shape

(41160, 5)

In [10]:
df.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

Now, lets perform the stated operations one by one: 

1. The first field, “product”, contains many different types of morsels. Soul Foods is only interested in Pink Morsels, so we can remove any row which contains another type of product.

2. Next come “quantity” and “price”. Since we’re interested in the total sales for a given day, these can be combined into a single field, “sales,” by multiplying them together.

3. The date field is useful as is and can remain untouched.
It would be nice to filter by region in the final visualisation, so we’ll also leave the region field untouched.

In [11]:
#Focusing on Just Pink Morsels

df = df[df['product']=='pink morsel']

There are only 5880 pink morsel in the whole dataset

In [12]:
df.shape

(5880, 5)

In [13]:
#Multiplying quantity and price, to get sales
# before that the datatype of quantity and price are different  !! and also the dollar sign is causing error during conversion. Lets replace it

df.dtypes

product     object
price       object
quantity     int64
date        object
region      object
dtype: object

In [14]:
df['price'] = df['price'].replace('[\$]',' ',regex=True)
df['price'] = df['price'].astype(float)
df['quantity'] = df['quantity'].astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\rahul\AppData\Local\Temp\ipykernel_24756\1384491782.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$]',' ',regex=True)

In [15]:
df.head()

        product  price  quantity        date region
0   pink morsel    3.0     546.0  2018-02-06  north
1   pink morsel    3.0     549.0  2018-02-06  south
2   pink morsel    3.0     577.0  2018-02-06   east
3   pink morsel    3.0     519.0  2018-02-06   west
28  pink morsel    3.0     529.0  2018-02-07  north

In [16]:
df['sales'] = df['price']*df['quantity']
df.head()

        product  price  quantity        date region   sales
0   pink morsel    3.0     546.0  2018-02-06  north  1638.0
1   pink morsel    3.0     549.0  2018-02-06  south  1647.0
2   pink morsel    3.0     577.0  2018-02-06   east  1731.0
3   pink morsel    3.0     519.0  2018-02-06   west  1557.0
28  pink morsel    3.0     529.0  2018-02-07  north  1587.0

In [17]:
df.dtypes

product      object
price       float64
quantity    float64
date         object
region       object
sales       float64
dtype: object

In [18]:
df['date'] = pd.to_datetime(df['date'])

In [19]:
df.dtypes

product             object
price              float64
quantity           float64
date        datetime64[ns]
region              object
sales              float64
dtype: object

In [23]:
df.to_csv('output_data.csv',index=False)

In [24]:
df.head(20)

         product  price  quantity       date region   sales
0    pink morsel    3.0     546.0 2018-02-06  north  1638.0
1    pink morsel    3.0     549.0 2018-02-06  south  1647.0
2    pink morsel    3.0     577.0 2018-02-06   east  1731.0
3    pink morsel    3.0     519.0 2018-02-06   west  1557.0
28   pink morsel    3.0     529.0 2018-02-07  north  1587.0
29   pink morsel    3.0     566.0 2018-02-07  south  1698.0
30   pink morsel    3.0     514.0 2018-02-07   east  1542.0
31   pink morsel    3.0     545.0 2018-02-07   west  1635.0
56   pink morsel    3.0     534.0 2018-02-08  north  1602.0
57   pink morsel    3.0     512.0 2018-02-08  south  1536.0
58   pink morsel    3.0     501.0 2018-02-08   east  1503.0
59   pink morsel    3.0     567.0 2018-02-08   west  1701.0
84   pink morsel    3.0     586.0 2018-02-09  north  1758.0
85   pink morsel    3.0     554.0 2018-02-09  south  1662.0
86   pink morsel    3.0     594.0 2018-02-09   east  1782.0
87   pink morsel    3.0     505.0 2018-02-09   west  1515.0
112  pink morsel    3.0     554.0 2018-02-10  north  1662.0
113  pink morsel    3.0     519.0 2018-02-10  south  1557.0
114  pink morsel    3.0     550.0 2018-02-10   east  1650.0
115  pink morsel    3.0     558.0 2018-02-10   west  1674.0